<header class = "top clearfix">
   C-Campas
  <div class = "search">
    <%= form_tag("/search", method: :get) do %>
    <input class="search__query" name="keyword" placeholder="授業名で検索" type="text" value="">
    <button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button>
    <% end %>
  </div>
</header>

  <div class = "main_3 clearfix">
    <div class = "left">
    <h2><img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"> <a href ="/fun"> 面白授業ランキング <img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"></h2>
     <h2><img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"> <a href ="/easy"> 楽単授業ランキング <img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"></h2>
      <h2><img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"> <a href ="/">注目授業ランキング <img src ="http://hukumusume.com/douwa/new/gazou/PRIZ026.JPG" height="70px"></h2></a>
      <% @ranking.each.with_index(1) do |product, i| %>
        <ul>
        <div class ="box">
          <a href= "/products/<%= product.id %>"><div class = "btn btn-warning" id ="btn"><p><%= i %>位<%= product.fun %></p></a></div>
          </div>
        </ul>
      <% end %>
    </div>
    <footer>
    </footer>
