<style>

body {margin: 0 auto;}
body {text-align: center;}
.logo{padding-top: 50px;}
h1 {font-size: 50px;}
body {margin: 0 auto;}
body {text-align: center;}
strong{color: white;}
strong{font-size: 18px;}
strong{display: inline-table;}
.header {padding-top: 30px;}
.header {background-color: yellowgreen;}
.header {height:50px;}




#write {color: pink;}
#write {border-bottom: 2px ridge orange;}
.search__query {height: 40px;}
.search__query {width: 60%;}
.search__query {font-size: 24px;}
.search__query {margin-bottom: 10px;}
.btn-search {height: 40px;}
.btn-search {width: 130px;}
.btn-search {margin-bottom: 10px;}
.enter {padding-top: 30px;}
.icon-search {font-size: 24px;}

</style>

<div class ="header">
<a href ="/pre_search_test"><strong id ="fun">過去問を投稿する</strong></a>　　<a href ="/tests/index"><strong id ="easy">過去問一覧</strong></a>　　<a href ="/"><strong id ="index">注目授業ランキング</strong></a>　　<a href ="/pre_search"><strong id ="search">授業を検索</strong></a>　　<a href ="/pre_search_review"><strong id ="review">授業評価を見る</strong></a>　　<a href ="/pre_search_entry"><strong id ="write">授業評価を書く</strong></a>　<% if user_signed_in? %> <a href ="/users/sign_out"><strong id ="logout">ログアウト</strong></a> <% else %> <a href ="/users/sign_up"><strong id ="sign_up">新規登録</strong></a>　　<a href ="/users/sign_in"><strong id ="sign_up">ログイン</strong>
  <% end %>
    </div> 


<div class ="logo">
<h1> C-CAMPAS  (授業評価を書く)</h1>
</div>

 <div class = "search">
    <%= form_tag("/search_2", method: :get) do %>
    <input class="search__query" name="keyword" placeholder="レビューを書きたい授業の名前で検索" type="text" value="">
    <div class ="enter">

    <button class="btn-search" title="検索" type="submit"><i class="icon-search">検索する</i></button>
    </div>
    <% end %>
  </div>
</header>

<script>


$(function(){

  $('#review').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });


    $('#fun').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

    $('#review').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });


    $('#index').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

    $('#logout').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

     $('#sign_up').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

          $('#sign_in').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

               $('#easy').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

                    $('#search').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });







  $('#write').css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });






});

</script>