<header　class="fixed">

  </div>
</header>

<div class ="main">
<div class = "list">
<% @products.each do |product| %>
  <ul>
    <li><h3><a href= "/products/<%= product.id %>"><span><%= product.title %></h3></li></span>
  </ul>
  <% end %>
  </div>
  <div class ="kaminari">
   <%= paginate @products %>
  </div>
</div>