.top {
  height:80px;
  background-color:blue;
  font-size:20px;
}

.main1 {
  margin:50px 0 0 50px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.title1{
  font-size:25px;
  margin: 0 ;
  height:30px;
}

.professer {
  font-size:25px
}

.search__query1{ 
  width:30px;
  font-size:20px;
}  

.search__query2{ 
  width:30px;
  font-size:20px;
}  

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.easy {
  font-size:18px;
}


.right_search{
  margin-left:30px;
  font-size:20px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.review {
  line-height:50px;
  height:80%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.report {
  width:20%;
  text-align:left;
  padding: 0 auto;
  height:20px;
}

.attendence {
  text-align:center;
}

.test {
  width:50px;
  text-align:center;
}

.submit {
  width:70px;
  float:left;
  height:40px;
  font-size:20px;
}

.textbox1{
  width:80%;
  padding: 0 100px 0 0;
  height:300px;
  font-size:20px;
}

.send {
  width:96%;
  height:40px;
  font-size:25px;
  background-color :blue;
}

h5 {
  font-size: 28px;
}

.left {
  text-align:2px;
  color:green;
  margin:0;
}

