// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 margin: 0; 
}

.C-Camp {
  height: 60px;
  background-color: blue;
  font-size: 50px;
  color: white;
  text-align: left;
  padding:10px 20px 10px 10px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.to_detail {
  font-size: 30px;
  float: right;
}

.write_review {
font-size: 30px;
float: right;
}

.main {
  width:90%;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.title {
  font-size: 25px;
  padding: 0 0 10 0;
}

.professer {
  font-size: 25px;
  padding: 0 0 10 0;
  text-height: 8px;
}

.rate {
  height: 40px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.easy {
  font-size:20px;
  float:left;
  width:50%;
}

.fun {
  font-size: 20px;
  float: left;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.info {
  height:30px;
}

.report {
  width:33%;
  float:left;
  font-size:20px;
  text-height:6px;
  height:30px;
}


.attendence {
  float:left;
  text-align:left;
  width:33%;
  font-size:20px;
  text-height:6px;
}

.test {
  float:left;
  width:33%;
  text-align:left;
  font-size:20px;
  text-height:17px;
}

.review_{
  font-size:20px;
  margin:25px;
}
.review_all {
  color:purple;
  font-size:25px;
  margin:20px;
}
.each_review {
  font-size:30px;
  border-bottom:1.3px dashed #aaa;
}

.info {
  height:40px;
}

.easy_1 {
  font-size:20px;
}

.send {
  width :87.5%;
}

.main_3 {
  backgrounf-color:#F5F5F5;
  }

