/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  height: 130px;
  background-color:green;
  color:white;
}

header ul {
  float:right;
  margin: -45px 0 0 0px;
}

header h1 {
  margin: 0px 0 0 40px;
  padding:  10px 0 0 0;
  font-size: 50px; 
}

header a {
  color: white;
}

header h4 {
  color:green;
}

body {
  background-color:#DCDCDC
}

.active {
  background-color: red;
}

.main {
  width:85%;
  background-color: white;
  text-align: center;
  margin:0 auto;
  padding-top: 15px;
}

.main ul {
  margin: 0 0 0 400px;
  color: black;
  font-size:25px;
  text-align: center;
}

.strange h5 {
  font-size: 30px;
  color: red;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 20px;
}


.main h6 {
  font-size: 25px;
  color: black;
}

footer {
  height: 80px;
  color:white;
  background-color: navy;
  text-align: center;
  padding-top: 20px;
}

.btn {
  width: 800px;
}

.main ul {
  line-height: 80px;
}

.main p {
  font-size: 70px;
}

.main li { 
line-height: 30px;
}

.main th {
  font-size: 40px;
  margin: 0 0 0 20px;
}

#a {
  font-size: 50px;
}

#b {
  font-size: 50px;
} 

#c {
  font-size: 50px;
}

#d {
  font-size: 50px;
}

#e {
  font-size: 50px
}

#f {
  font-size: 50px;
}

tr {
  border-bottom: 2px;
  border: solid;
  margin: 10px 0 0 0;
  border-right:2px solid #333333
}

td {
  font-size: 65px;
  border-left:2px solid #333333
  }

.container h6 {
  font-size: 20px;
  color:orange;
  display: solid 8px red;
}

th {
  border-right:2px solid black;
}

.main .glyphicon-pencil {
  color: blue;
  width: 80px;
  height: 79px;
}

.main #red {
  color: red;
}

.main #green {
  color:green;
}

.main #yellow {
  color:yellow;
}

.main #pink {
  color:pink;
}

.main #orange {
  color:orange;
}
.main {
  font-size: 60px;
}

.glyphicon title {
  font-size: 20px;
}

.search__query {
  width:500px;
  height:60px ;
  font-size: 25px;
}

.btn-search {
  width:180px;
  height:60px;
  font-size: 25px;
}

.main h5 {
  font-size: 25px;
  color:red;
  padding-top: 10px;
  padding-bottom:10px;
}

.devise {
  text-align: center;
}

.textbox1 {
    border: 0px solid;
    padding: 0 0 0 0 ;
    width: 90%;
    background-color: white;
    text-align: center;
} 

.main em {
  color: orange;
}


.main {
  text-align: center;
}

#teacher {
  margin: -15px 0 0 -45px;
  padding-bottom: 15px;
}

.monday {
  float:left;
  padding-left: 190px;

}

#monday_ {
  margin: 38px 1170px 0 0 
}

.tuesday {
  float:left;
  padding-left: 20px;
  margin: 3px 0 0 100px
}

#tuesday {
  margin:5px 0 0 0px;
}

.wendsday {
    float:left;
  margin: -2px 0px 0 110px; 
}

.thursday {
      float:left;
  margin: -2px 0px 0 110px; 
}
.fryday {
        float:left;
  margin: -2px 0px 0 110px; 
}

.saturday {
  float:left;
  margin: -2px 0px 0 110px; 
}

.h2 {
  margin:300px 0 0 0;
}

.period_1 {
  margin: -2px 0px 0 110px; 
}

.period {
  float: center;
}

.day {
  width: 1300px;
}

.period h2 {
  margin:170px;
}

.day h2 {
  padding-bottom: 30px;
}

.btn{ 
  font-size: 30px;
  width: 800px;
}

.main_3 {
  font-size: 40px;
}

ul {
  font-size: 40px;
}

header.top.clearfix {
  border-color: green;
}

#title {
  color: orange;
}

.professer {
  color: orange;
}

.easy {
  color: blue;
}

.fun {
  color: blue;
}